body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    color: rgb(143, 29, 222);
}
.accordion {
    opacity: 0.7;
}
.a {
    color: white;
}
.card-deck {
    padding: 10px;
}